@import '~theme/variables.scss';

$link-color: $brand-primary !default;

:global(.Link) {
  color: $link-color;
  fill: currentColor;
  text-decoration: none;

  &:hover {
    color: lighten($link-color, 15%);
  }
}
