@import "~theme/variables.scss";

:global(.Message) {
  color: $message-color;
  fill: $message-color;
  border-radius: $border-radius;
  padding: 20px;
  display: flex;
  flex-direction: row;

  :global(.Message__left) {
    min-width: 40px;
    margin-right: 20px;
  }

  :global(.Message__right) {
    overflow: hidden;
    width: 100%;

    :global(.Message__header) {
      display: flex;
      flex-direction: row;
      height: 40px;
      margin-bottom: 20px;

      :global(.Message__headerMiddle) {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  :global(.Message__toggle) {
    cursor: pointer;
  }

  &:global(.Message--collapsed) {
    :global(.Message__header) {
      margin: 0;
    }
  }

  &:global(.Message--focused) {
    background: $message-bg;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  }

  :global(.Message__time) {
    font-size: 0.9rem;
  }
}
