{
  "parser": "babel-eslint",
  "extends": "zoetrope",

  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },

  "globals": {
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },

  "rules": {
    # Unclear why but if following rule not included linter complains about missing
    # extensions on statements like import { toJS } from 'zc-core/hocs'
    "import/extensions": ["error", "never", { "packages": "always" }],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        ".storybook/**",
        "stories/**"
      ],
      "peerDependencies": true
    }],
    "import/no-unresolved": [2, {
      "ignore": [
        "\\.scss$",
        "zc-core"
      ]
    }]
  }
}
