{
  "parser": "babel-eslint",
  "extends": "airbnb",

  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "globals": {
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },

  "rules": {
    "semi": ["error", "never"],
    "brace-style": ["warn", "stroustrup"],
    "react/jsx-first-prop-new-line": ["warn", "multiline"],
    "react/jsx-filename-extension": 0,
    "no-underscore-dangle": 0,
    "camelcase": 0,
    "curly": ["warn", "multi"],
    "react/jsx-no-bind": [ 1,
      "allowArrowFunctions": false
    ],
    "no-console": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "peerDependencies": true
    }],
    "import/no-unresolved": [2, {
      "ignore": [
        "\\.scss$",
        "^react$",
        "^redux-form"
      ]
    }]
  }
}
