{
  "parser": "babel-eslint",
  "extends": "zoetrope",

  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },

  "globals": {
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },

  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "peerDependencies": true
    }],
    "import/no-unresolved": [2, {
      "ignore": [
        "\\.scss$",
        "zc-core"
      ]
    }]
  }
}
