@import "~theme/variables.scss";


:global(.StatCard) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $statcard-bg;
  padding: 12px;
  min-height: 120px;
  text-align: center;
}
:global(.StatCard--inline) {
  display: inline-block;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  min-height: inherit;
  background-color: inherit;
}

// The figure to be displayed prominently.
:global(.StatCard__figure) {
  color: $brand-primary;
  padding: 4px 0;
  font-size: 30px;
  white-space: nowrap;
  font-weight: bold;
}
:global(.StatCard__figure--inline) {
  font-size: $font-size-base;
}
:global(.StatCard__figure--danger) {
  color: $brand-danger;
}

// Description (usually text below the figure).
:global(.StatCard__description) {
  font-weight: bold;
  color: $statcard-color;
}
:global(.StatCard__description--inline) {
  font-size: $font-size-small;
  font-weight: normal;
}


@mixin vertical-caret {
  &:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    margin-left: 2px;
    margin-bottom: 4px;
    vertical-align: middle;
    border-top: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}

// Delta. Defaults to a green caret-up.
:global(.StatCard__delta) {
  font-size: 12px;
  margin-left: 8px;
  vertical-align: middle;

  @include vertical-caret;
  color: $brand-success;
  &:after {
    border-bottom: 4px solid;
  }
}

:global(.StatCard__delta--down) {
  &:after {
    border-top: 4px solid;
    border-bottom: none;
  }
}

:global(.StatCard__delta--danger) {
  color: $brand-danger;
}
