@import "~theme/variables.scss";


:global(.StatCard) {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 24px 48px;
}

// The figure to be displayed prominently.
:global(.StatCard__figure) {
  color: $brand-primary;
  text-align: center;
  padding: 4px 0;
  font-size: 30px;
}

// Description (usually text below the figure).
:global(.StatCard__description) {
  font-weight: bold;
  color: $text-color-minor;
}


@mixin vertical-caret {
  &:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    margin-left: 2px;
    margin-bottom: 4px;
    vertical-align: middle;
    border-top: 0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}

// Delta. Defaults to a green caret-up.
:global(.StatCard__delta) {
  font-size: 12px;
  margin-left: 8px;
  vertical-align: middle;

  @include vertical-caret;
  color: $brand-success;
  &:after {
    border-bottom: 4px solid;
  }
}

:global(.StatCard__delta--down) {
  &:after {
    border-top: 4px solid;
    border-bottom: none;
  }
}

:global(.StatCard__delta--danger) {
  color: $brand-danger;
}
