@import "~theme/variables.scss";

:global(.Spinner) {
  display: flex;
  align-content: center;
  justify-content: center;
  color: $spinner-color;
  fill: $spinner-color;

  &:global(.Spinner--full) {
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color $transition-duration ease;

    :global(.lds-dual-ring) {
      margin-bottom: $padding * 2;
    }
  }
}
@keyframes :global(lds-dual-ring) {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes :global(lds-dual-ring) {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
:global(.lds-dual-ring) :global {
  position: relative;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);

  div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-style: solid;
    border-color: $spinner-color transparent $spinner-color transparent;
    -webkit-animation: lds-dual-ring $spinner-speed linear infinite;
    animation: lds-dual-ring $spinner-speed linear infinite;
  }
}
