// Colours
$BLACK: #222;
$GRAD_GREEN: #0aae5d;
$GRAD_BLUE: #5e5cd2;
$ACCENT_BLUE: #5c95d7;
$ACCENT_GREEN: #39c9a6;
$ACCENT_RED: #f26d80;

$STATUS_RED: $ACCENT_RED;
$STATUS_BLUE: cornflowerblue;
$STATUS_AMBER: orange;
$STATUS_GREEN: $GRAD_GREEN;
$STATUS_GRAY: lightgrey;

// Fonts
$DEFAULT_FONT: 'SofiaPro';
$DEFAULT_FONT_COLOUR: $BLACK;
$FONT_SIZE_SMALL: 1rem;
$FONT_SIZE_MEDIUM: 1.3rem;
$FONT_SIZE_LARGE: 1.6rem;
$FONT_SIZE_XLARGE: 1.8rem;

// Structure
$BORDER_RADIUS: 4px;
