@import './mixins';
@import './variables';

html, body {
  font-family: $font-family;
  color: $text-color;
  height: 100%;
  background: $page-bg;
  font-size: $font-size-base;
  background-attachment: fixed;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: left;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}
