@import './constants';
@import './mixins';

html, body {
  font-family: $DEFAULT_FONT;
  color: $DEFAULT_FONT_COLOUR;
  height: 100%;
  @include linear-gradient(45deg, $GRAD_GREEN, $GRAD_BLUE)
  background-attachment: fixed;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: normal;
}
