@import "~theme/variables.scss";

:global(.Page) {
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

:global(.Header) {
  background: $header-bg;
  padding: $padding $padding * 2;

  :global(.Header__Logo) {
    background: transparent;
    border: none;
    height: auto;
    width: auto;
    padding: 0;
  }
}

:global(.Logo) {
  background-image: $logo-small;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;

  &:global(.Logo--small) {
    height: 30px;
    min-width: 200px;
  }

  &:global(.Logo--large) {
    height: 70px;
    min-width: 240px;
  }

  &:global(.Logo--center) {
    background-position: center;
  }
}

:global(.NavButton) {
  background: transparent;
  border: none;
  color: $nav-color;
  padding: $padding;
  cursor: pointer;
  fill: $nav-color;
  transition: color $transition-duration, fill $transition-duration;

  &:global(:hover) {
    color: $nav-hover-color;
    fill: $nav-hover-color;
  }

  &:global(.NavButton--active) {
    color: $nav-active-color;
    fill: $nav-active-color;
  }
}



:global(.Content) {
  flex: 1;
  background: $content-bg;
  color: $content-color;

  :global(.Content__header) {
    background: $content-header-bg;
    color: $content-header-color;
    border-bottom: 1px solid darken($content-header-bg, 10%);
    height: 54px;
    padding: 0 $padding * 2;
  }

  :global(.Content__headerCenter) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    :global(.Content__title) {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        max-height: 46px;
        max-width: 200px;
        width: auto;
        height: auto;
      }
    }

    :global(.Content__header) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    :global(.Content__actions) {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      :global(.Content__button) {
        margin: $padding 0 $padding $padding;
      }
    }
  }



  :global(.Content__body) {
    padding: $padding * 2;
  }
}

:global(.Button) {
  height: 36px;
  min-width: 100px;
  border-radius: $border-radius;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: $brand-grey;
  border: 1px solid $brand-grey;
  cursor: pointer;
  color: $text-color;
  fill: currentColor;
  font-size: 14px;

  &:global(.Button--primary) {
    background: $brand-primary;
    border: 1px solid $brand-primary;
    color: white;
  }

  &:global(.Button--success) {
    background: $brand-success;
    border: 1px solid $brand-success;
    color: white;
  }

  &:global(.Button--danger) {
    background: $brand-danger;
    border: 1px solid $brand-danger;
    color: white;
  }

  &:global(.Button--hollow) {
    background: transparent;
  }

  &:global(.Button--disabled) {
    cursor: not-allowed;
  }
}
