@import '~theme/variables.scss';


$drawer-animation-duration: $transition-duration !default;
$drawer-alpha: 0.25 !default;
$drawer-inner-z-index: 1000 !default;

.hidden {
  visibility: hidden;
}


:global(.Drawer__overlay) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($brand-grey, $drawer-alpha);
  animation-duration: $drawer-animation-duration;
}

:global(.Drawer__inner) {
  z-index: $drawer-inner-z-index;
  position: fixed;
  background-color: $bg-light;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5);
  animation-duration: $drawer-animation-duration;
}
:global(.Drawer__inner--open) {
  animation-duration: $drawer-animation-duration;
  visibility: visible;
}

/** Opening from the side. */
:global(.Drawer__inner--vertical) {
  top: 0;
  bottom: 0;
  height: 100%;
}

/** Opening from the top or bottom. */
:global(.Drawer__inner--horizontal) {
  left: 0;
  right: 0;
  width: 100%;
}

:global(.Drawer__inner--top) {
  top: 0;
}

:global(.Drawer__inner--bottom) {
  bottom: 0;
}

:global(.Drawer__inner--left) {
  left: 0;
}

:global(.Drawer__inner--right) {
  right: 0;
}
