@import '~theme/variables';


:global(.CheckboxField__input) {
  // Ensure the checkbox is out of sight, but still accessible to the user
  // (i.e. no `display: none;`).
  position: absolute;
  left: -1000em;
}


:global(.CheckboxField__label) {
  font-weight: bold;
  display: inline-block;

  &:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 0.5em 0 0;
    background: url('/images/icons/checkbox.svg') no-repeat 0 0;

    vertical-align: bottom;
    position: relative;
    bottom: 2px;
  }
}


:global(.CheckboxField__label--checked):after {
  background-position: -16px 0;
}
:global(.CheckboxField__label--disabled):after {
  background-position: -32px 0;
}
:global(.CheckboxField__label--checked):global(.CheckboxField__label--disabled):after
{
  background-position: -48px 0;
}


:global(.CheckboxField__input:focus) + .CheckboxField__label:after {
  outline: 1px dotted dark;
}
