@import '~theme/variables';
@import '../mixins';

$checkbox-image-url: url('zc-web/assets/sprites/checkbox.svg') !default;


:global(.CheckboxField) {
  @include form-control;

  :global(.CheckboxField__input) {
    display: none;
  }

  label {
    @include form-label;
    font-weight: bold;
    display: inline-block;
    span {
      display: inline-block;
      min-width: 120px;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: $checkbox-image-url no-repeat 0 0;
      vertical-align: bottom;
      position: relative;
    }
  }

  &:global(.CheckboxField--checked) label:after {
    background-position: -16px 0;
  }

  &:global(.CheckboxField--disabled) label:after {
    background-position: -32px 0;
  }

  :global(.CheckBoxField__error) {
    @include form-error;
  }

  :global(.CheckBoxField__warning) {
    @include form-warning;
  }
}
