@import '~theme/variables';
@import '../mixins';

$checked-image-url: url('zc-web/assets/icons/checkbox.svg') !default;
$unchecked-image-url: url('zc-web/assets/icons/check_box_outline_blank.svg') !default;


:global(.CheckboxField) {
  @include form-control;
}

:global(.CheckboxField__input) {
  @include form-input;
  // Ensure the checkbox is out of sight, but still accessible to the user
  // (i.e. no `display: none;`).
  position: absolute;
  left: -1000em;
}


:global(.CheckboxField__label) {
  font-weight: bold;
  display: inline-block;

  &:after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 0.5em 0 164px;
    background: $unchecked-image-url no-repeat 0 0;

    vertical-align: bottom;
    position: relative;
    bottom: 2px;
  }
}


:global(.CheckboxField__label--checked):after {
  background-position: -16px 0;
  background: $checked-image-url no-repeat 0 0;
}
:global(.CheckboxField__label--disabled):after {
  background-position: -32px 0;
}
:global(.CheckboxField__label--checked):global(.CheckboxField__label--disabled):after
{
  background-position: -48px 0;
}


:global(.CheckboxField__input:focus) + .CheckboxField__label:after {
  outline: 1px dotted dark;
}


:global(.CheckBoxField__error) {
  @include form-error;
}

:global(.CheckBoxField__warning) {
  @include form-warning;
}
