$brand-primary: #44a0ee;
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;
$brand-grey: #829EAF;


$black: #2C2C2C;
$gray: lighten($black, 10%);
$light-gray: lighten($gray, 10%);
$lighter-gray: lighten($gray, 20%);

$off-white: #f8f8f8;
$pale-gray: darken($off-white, 10%);
