$brand-primary: #44a0ee;
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;
$brand-grey: #829EAF;

$black: #2C2C2C;
$gray: #767676;
$light-gray: #888888;
$lighter-gray: #adadad;
$pale-gray: #e0e0e0;
$off-white: #f8f8f8;
