@import './mixins';
@import './colors';

$text-color: $gray;
$text-color-minor: $light-gray;
$text-color-light: $off-white;

$border-radius: 5px;
$border-width: 1px;
$border-style: solid;
$border-color: $pale-gray;
$border: $border-width $border-style $border-color;

// Structure
$padding: 8px;

// Backgrounds
$bg-light: #fff;
$bg-light-alternate: $off-white;
$bg-dark: $pale-gray;
$bg-darker: $lighter-gray;

// Fonts
$font-size-base: 12px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$font-family: $font-family-sans-serif;

$font-size-largest: 1.5rem;
$font-size-larger: 1.4rem;
$font-size-large: 1.3rem;
$font-size-small: 1.2rem;
$font-size-smaller: 1.1rem;
$font-size-smallest: 1rem;

// Animations / transitions
$transition-duration: 0.5s;


html, body {
  font-family: $font-family;
  color: $text-color;
  fill: $text-color;
  height: 100%;
  background: $bg-light;
  font-size: $font-size-base;
  background-attachment: fixed;
}

// #root doesn't work for some reason
html>body>div {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: left;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: $font-size-largest;
}

h4 {
  font-size: $font-size-large;
}

h5 {
  font-size: $font-size-small;
}

h6 {
  font-size: $font-size-smaller;
}

// Generic colours.
:global(.bg-) {
  &:global(primary) { background-color: $brand-primary; }
  &:global(secondary) { background-color: $brand-secondary; }
  &:global(success) { background-color: $brand-success; }
  &:global(warning) { background-color: $brand-warning; }
  &:global(danger) { background-color: $brand-danger; }
  &:global(info) { background-color: $brand-info; }
  &:global(grey) { background-color: $brand-grey; }

  &:global(light) { background-color: $bg-light; }
  &:global(dark) { background-color: $bg-dark; }
  &:global(darker) { background-color: $bg-darker; }
}
:global(.text-) {
  &:global(primary) { color: $brand-primary; }
  &:global(secondary) { color: $brand-secondary; }
  &:global(success) { color: $brand-success; }
  &:global(warning) { color: $brand-warning; }
  &:global(danger) { color: $brand-danger; }
  &:global(info) { color: $brand-info; }
  &:global(grey) { color: $brand-grey; }

  &:global(minor) { color: $text-color-minor; }
  &:global(light) { color: $text-color-light; }
}
