@import './mixins';
@import './variables';

html, body {
  font-family: $font-family;
  color: $text-color;
  height: 100%;
  background: $page-bg;
  font-size: $font-size-base;
  background-attachment: fixed;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: left;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

// Generic colours.
:global(.bg-) {
  &:global(primary) { background-color: $brand-primary; }
  &:global(secondary) { background-color: $brand-secondary; }
  &:global(success) { background-color: $brand-success; }
  &:global(warning) { background-color: $brand-warning; }
  &:global(danger) { background-color: $brand-danger; }
  &:global(info) { background-color: $brand-info; }
  &:global(grey) { background-color: $brand-grey; }

  &:global(light) { background-color: $bg-light; }
  &:global(light) { background-color: $bg-light; }
  &:global(dark) { background-color: $bg-dark; }
  &:global(darker) { background-color: $bg-darker; }
}
:global(.text-) {
  &:global(primary) { color: $brand-primary; }
  &:global(secondary) { color: $brand-secondary; }
  &:global(success) { color: $brand-success; }
  &:global(warning) { color: $brand-warning; }
  &:global(danger) { color: $brand-danger; }
  &:global(info) { color: $brand-info; }
  &:global(grey) { color: $brand-grey; }

  &:global(minor) { color: $text-color-minor; }
  &:global(light) { color: $text-color-light; }
}
