@import './colors';

$text-color: $gray;
$text-color-minor: $light-gray;
$text-color-light: $off-white;

$link-color: $brand-primary;

$border-radius: 5px;
$border-width: 1px;
$border-style: solid;
$border-color: $pale-gray;
$border: $border-width $border-style $border-color;

// Structure
$padding: 12px;

// Backgrounds
$bg-light: #fff;
$bg-light-alternate: $off-white;
$bg-dark: $pale-gray
$bg-darker: $lighter-gray
$header-bg-light: $off-white;

// Fonts
$font-size-base: 12px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$font-family: $font-family-sans-serif;

$font-size-largest: 1.3rem;
$font-size-larger: 1.2rem;
$font-size-large: 1.1rem;
$font-size-small: 0.9rem;
$font-size-smaller: 0.8rem;
$font-size-smallest: 0.7rem;

// Components
$page-max-width: 1000px;
$page-bg: white;

$header-bg: #E6E8E9;
$header-color: #3F7FAE;

$nav-bg: #202F39;
$nav-color: #829EAF;
$nav-active-color: #FFFFFF;

$content-bg: $page-bg;
$content-color: $text-color;
$content-header-bg: #F5F8F8;
$content-header-color: $text-color;

$logo-small: url('assets/leocycle-small.png');

$tooltip-icon-color: $text-color;
$tooltip-bg: $page-bg;
$tooltip-color: $text-color;
$tooltip-border-radius: $border-radius;
$tooltip-border-width: $border-width;
$tooltip-border-color: $text-color;

$drawer-alpha: 0.25;
$drawer-inner-z-index: 1000;

$codeblock-bg: $bg-light;
$codeblock-border: $border;
$codeblock-color: $text-color;

$panel-bg: $bg-light;
$panel-color: $text-color;

$statcard-bg: $bg-light;
$statcard-color: $text-color-minor;

$message-bg: $bg-light;
$message-color: $text-color-minor;

$spinner-color: $brand-primary;
$spinner-speed: 1s;

// Checkboxes.
$checked-image-url: url('/icons/checked.svg');
$unchecked-image-url: url('/icons/unchecked.svg');

// Animation
$transition-duration: 0.5s;
