// Colours
$brand-primary: #44a0ee;
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;
$brand-grey: #829EAF;

$text-color: #767676;
$text-color-minor: #888888;
$link-color: #2A9FD8;
$text-color-light: #f8f8f8;

$link-color: $brand-primary;

$border-radius: 5px;
$border-width: 1px;
$border-faint: #e0e0e0;
$border-style: solid;
$border-color: $border-faint;
$border: $border-width $border-style $border-color;

// Structure
$padding: 12px;

// Backgrounds
$bg-light: #fff;
$bg-light-alternate: aliceblue;
$bg-dark: #f0f3f4;
$bg-darker: #adadad;
$header-bg-light: #f6f8f8;

// Fonts
$font-size-base: 14px;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$font-family: $font-family-sans-serif;

$font-size-largest: 1.6rem;
$font-size-larger: 1.4rem;
$font-size-large: 1.2rem;
$font-size-small: 0.8rem;
$font-size-smaller: 0.7rem;
$font-size-smallest: 0.6rem;

// Components
$page-max-width: 1000px;
$page-bg: white;

$header-bg: #E6E8E9;
$header-color: #3F7FAE;

$nav-bg: #202F39;
$nav-color: #829EAF;
$nav-active-color: #FFFFFF;

$content-bg: $page-bg;
$content-color: $text-color;
$content-header-bg: #F5F8F8;
$content-header-color: $text-color;

$logo-small: url('assets/leocycle-small.png');

$tooltip-icon-color: $text-color;
$tooltip-bg: $page-bg;
$tooltip-color: $text-color;
$tooltip-border-radius: $border-radius;
$tooltip-border-width: $border-width;
$tooltip-border-color: $text-color;

$drawer-alpha: 0.25;
$drawer-inner-z-index: 1000;

// Checkboxes.
$checked-image-url: url('/icons/checked.svg');
$unchecked-image-url: url('/icons/unchecked.svg');

// Animation
$transition-duration: 0.5s;
