@import '~theme/variables.scss';

$panel-bg: $bg-light !default;
$panel-color: $text-color !default;

:global(.Panel) {
  border: $border;
  overflow: hidden;
  background: $panel-bg;
  color: $panel-color;
  fill: $panel-color;
  border-radius: $border-radius;
  margin-bottom: $padding * 2;

  :global(.Panel__header) {
    display: flex;
    flex-direction: row;
    padding: $padding * 2;
    border-bottom: $border;
    max-height: 100px;
    align-items: center;

    :global(.Panel__headerMiddle) {
      flex:1;
      display: flex;
      flex-direction: column;

      :global(.Panel__title) {
        font-size: $font-size-larger;
      }

      :global(.Panel__subtitle) {
        color: $text-color-minor;
      }
    }

    :global(.Panel__onClick) {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      fill: $text-color-minor;
      color: $text-color-minor;
      font-weight: bold;
      font-size: $font-size-large;
    }
  }

  :global(.Panel__body) {
    padding: $padding * 2;
  }

  :global(.Panel__footer) {
    height: 40px;
    border-top: $border;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    fill: $text-color-minor;

    :global(.Icon--CHEVRON_UP), :global(.Icon--CHEVRON_DOWN) {
      cursor: pointer;
    }
  }

  &:global(.Panel--collapsed) {

    :global(.Panel__body) {
      display: none;
    }

    :global(.Panel__footer) {
      border-top: 0px;
    }
  }
}
