@import '~theme/variables.scss';

$nav-bg: $light-gray !default;
$nav-color: $off-white !default;

:global(.Navbar) {
  background: $nav-bg;
  color: $nav-color;
  padding: 0 $padding * 2;
}

:global(.Navbar__item) {
  display: flex;
  justify-content: center;
}
