@import '~theme/variables.scss';

:global(.Auth) {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

:global(.Auth__form) {
  flex: 0.5;
  padding: $padding 0;
  max-width: 400px;
  border: $border;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;

    button {
      margin: $padding auto;
    }
  }
}

:global(.Auth__error) {
  padding: 0 20px;
  color: $brand-danger;
  margin-top: $padding;
}

:global(.Auth__success) {
  padding: 0 20px;
  color: $brand-success;
  margin-top: $padding;
}
