@import '~theme/variables.scss';

:global(.Auth) {
  padding: $padding 0;
  max-width: 400px;
  border: $border;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;

    button {
      margin: $padding auto 0 auto;

      :global(.Spinner) {
        color: white;
      }
    }
  }

  :global(.Auth__error) {
    color: $brand-danger;
    margin-top: $padding;
  }

  :global(.Auth__success) {
    color: $brand-success;
    margin-top: $padding;
  }

  :global(.Link) {
    margin-top: $padding;
  }
}
