@import '~theme/variables.scss';

:global(.Codeblock) {
  background: $codeblock-bg;
  border: $codeblock-border;
  border-radius: $border-radius;
  color: $codeblock-color;
  padding: $padding * 2;
  overflow: auto;

  :global(.Codeblock__pre) {
    margin: 0;
  }
}
