@import '~theme/variables.scss';

$time-series-graph-text-color: #464646 !default;
$time-series-graph-color-1: $brand-primary !default;
$time-series-graph-color-2: $brand-secondary !default;
$time-series-graph-color-3: $brand-success !default;
